body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    width: 100%;
  }
  .header {
    align-items: center;
    background-color: #BFDBE9;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
  }
  .header__img {
    margin-right: 20px;
    width: 50px;
    display: flex;
    flex-direction: row;
  }
  .login {
    background: linear-gradient(#BFDBE9, #0095dd);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
  }
  .login_header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .login__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 25px;
    min-height: 560px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .login__container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .login__container--form {
    display: flex;
    flex-direction: column;
  }
  .login__container--form label {
    font-size: 14px;
  }
  .login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .login__container--remember-me a {
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
  .login__container--remember-me a:hover {
    text-decoration: underline;
  }
  .login__container--social-media > div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .login__container--social-media > div > img {
    width: 30px;
    margin-right: 10px;
  }
  .login__container--register {
    font-size: 14px;  
  }
  .login__container--register a {
    color: white;
    font-weight: bold;
    font-size: 16px;  
    text-decoration: none;
  }
  .login__container--register a:hover {
    text-decoration: underline;
  }
  .input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
  }
  ::placeholder {
    color: white;
  }
  .button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;  
    font-weight: bold; 
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
  }
  .footer {
    background-color: #0095dd;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
  }
  .footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;  
  }
  .footer a:hover {
    text-decoration: underline; 
  }